* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.background-wrapper {
    background-image: url('img/dominik-schroder-FIKD9t5_5zQ- 1.jpg'); 
    background-size: cover; 
    background-position: center;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif; 
    color: #0505057e; 
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(31, 30, 30, 0.61); 
}

h1 {
    font-size: 3em; 
    text-shadow: 1px 1px 2px rgba(5, 5, 5, 0.486); 
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    background-color: rgba(10, 10, 10, 0.753); 
    border-radius: 20px;
    box-shadow: 0 9px 40px rgba(0, 0, 0, 0.596); 
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    border: 3px solid rgba(32, 30, 30, 0.075); 
}

.info {
    max-width: 500px;
    /*text-shadow: 1px 1px 1px rgba(126, 117, 117, 0.8);*/ 
}

h2 {
    font-size: 2em;
    color: #fffefeb4; 
}

.info p {
    font-size: 1.2em; 
    color: #f3ececb0; 
}

.social-links {
    text-align: center;
    margin-top: 40px;
}

.social-link {
    margin: 0 10px;
    text-decoration: none;
    color: #080808; 
    padding: 10px 15px;
    border: 2px solid rgba(0, 0, 0, 0.8); 
    border-radius: 7px;
    transition: background-color 0.3s, color 0.3s;
}

.social-link:hover {
    background-color: rgba(0, 0, 0, 0.8); 
    color: #faf8f8;
}

footer {
    text-align: center;
    padding: 20px; 
    margin-top: auto; 
    background-color: rgba(0, 0, 0, 0.8); 
    width: 100%;
    color: #e0e0e0; 
}
